.story-video {
    background: url(../images/big-taddy.jpg) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;   
    color: #fff;
    text-shadow: 1px 1px 1px rgba($color-black, .5);

    &__darken-back {
        background-color: rgba($color-black, 0.3);
    }

    &__link {
        border: 20px solid  $color-green;
        background-color: $color-green;
        border-radius: 50%;
        display: inline-block;
    }
}